{
	// personal documentation written in Notion
	"$schema": "https://opencode.ai/config.json",
	"theme": "opencode",
	"mcp": {
    "context7": {
			"type": "remote",
			"url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{{ if .use_secrets }}{{ onepasswordRead .secrets.ai_tools.context7_apikey }}{{ end }}"
      },
			"enabled": true
		},
    "deepwiki": {
        "type": "remote",
        "url": "https://mcp.deepwiki.com/mcp",
        "headers": {},
        "enabled": false
    },
    "exa": {
      "type": "remote",
      "url": "https://mcp.exa.ai/mcp",
      "headers": {},
      "enabled": false
    },
    "gitmcp": {
        "type": "remote",
        "url": "https://gitmcp.io/chianyungcode/dotfiles",
        "headers": {},
        "enabled": false,
    },
    "linear": {
      "type": "remote",
      "url": "https://mcp.linear.app/mcp",
      "enabled": true
    },
    "tavily": {
      "type": "remote",
			"url": "https://mcp.tavily.com/mcp/?tavilyApiKey={{ if .use_secrets }}{{ onepasswordRead .secrets.research.tavily_apikey }}{{ end }}",
      "enabled": false
      },
    "ticktick": {
        "type": "remote",
        "url": "https://mcp.ticktick.com",
        "headers": {},
        "enabled": true,
      }
	},
	"provider": {
		"openrouter": {
			"models": {
				"z-ai/glm-5": {
					"options": {
						"provider": {
							"order": ["baseten", "z.ai"],
							"allow_fallbacks": false
						}
					}
				},
				"moonshotai/kimi-k2.5": {
					"options": {
						"provider": {
							"order": ["novitaai", "moonshotai"],
							"allow_fallbacks": false
						}
					}
				}
			},
			"options": {
				"apiKey": "{env:OPENROUTER_OPENCODE_APIKEY}"
			}
		}
	}
}
