[Unit]
Description=Espanso Wayland service
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/espanso start
Restart=on-failure
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin

[Install]
WantedBy=default.target

