# XDG Base Directory - Environment Variable
set -q XDG_DATA_HOME; or set -gx XDG_DATA_HOME "{{ .shell_env.xdg.data_home }}"
set -q XDG_CONFIG_HOME; or set -gx XDG_CONFIG_HOME "{{ .shell_env.xdg.config_home }}"
set -q XDG_STATE_HOME; or set -gx XDG_STATE_HOME "{{ .shell_env.xdg.state_home }}"
set -q XDG_CACHE_HOME; or set -gx XDG_CACHE_HOME "{{ .shell_env.xdg.cache_home }}"
set -q XDG_DATA_DIRS; or set -gx XDG_DATA_DIRS "{{ .shell_env.xdg.data_dirs_default }}"
set -l __xdg_data_dirs (string split : $XDG_DATA_DIRS)
if test (count $__xdg_data_dirs) -eq 0
    set __xdg_data_dirs (string split : "{{ .shell_env.xdg.data_dirs_default }}")
end
if not contains -- $XDG_DATA_HOME $__xdg_data_dirs
    set __xdg_data_dirs $XDG_DATA_HOME $__xdg_data_dirs
end
set -gx XDG_DATA_DIRS (string join : $__xdg_data_dirs)

# XDG User Directories - Environment Variable
if type -q xdg-user-dir
    set -gx XDG_DESKTOP_DIR (xdg-user-dir DESKTOP)
    set -gx XDG_DOWNLOAD_DIR (xdg-user-dir DOWNLOAD)
    set -gx XDG_TEMPLATES_DIR (xdg-user-dir TEMPLATES)
    set -gx XDG_PUBLICSHARE_DIR (xdg-user-dir PUBLICSHARE)
    set -gx XDG_DOCUMENTS_DIR (xdg-user-dir DOCUMENTS)
    set -gx XDG_MUSIC_DIR (xdg-user-dir MUSIC)
    set -gx XDG_PICTURES_DIR (xdg-user-dir PICTURES)
    set -gx XDG_VIDEOS_DIR (xdg-user-dir VIDEOS)
end
