{{ if eq .chezmoi.os "darwin" }}
# Homebrew - Environment Variable

# This block below equal to `eval $(/opt/homebrew/bin/brew shellenv)` . Instead use that i prefer to statically put the output of that command to reduce startup time

# ==== START OF `eval $(/opt/homebrew/bin/brew shellenv)` ====
# Set Homebrew environment variables
set -gx HOMEBREW_PREFIX "{{ .shell_env.homebrew.prefix }}"
set -gx HOMEBREW_CELLAR "{{ .shell_env.homebrew.cellar }}"
set -gx HOMEBREW_REPOSITORY "{{ .shell_env.homebrew.repository }}"

# Add Homebrew paths
fish_add_path -g --move --path {{ range .shell_env.homebrew.bin_paths }}"{{ . }}" {{ end }}

# Set MANPATH
if test -n "$MANPATH[1]"
    set -gx MANPATH '' $MANPATH
end

# Set INFOPATH
if not contains "{{ .shell_env.homebrew.info_path }}" $INFOPATH
    set -gx INFOPATH "{{ .shell_env.homebrew.info_path }}" $INFOPATH
end
# ==== END OF `eval $(/opt/homebrew/bin/brew shellenv)` ====

set fish_complete_path $fish_complete_path {{ range .shell_env.homebrew.fish_completions }}"{{ . }}" {{ end }}
{{- end }}
