# Common - Environment Variable
{{ range $key, $value := .shell_env.common -}}
set -gx {{ $key }} "{{ $value }}"
{{ end -}}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
{{ range $key, $value := .shell_env.arch_linux -}}
set -gx {{ $key }} "{{ $value }}"
{{ end -}}
{{ end -}}

if not set -q SSH_TTY
{{- if eq .chezmoi.os "darwin" }}
    set -gx SSH_AUTH_SOCK "{{ .shell_env.ssh_auth_sock.darwin }}"
{{- else if eq .chezmoi.os "linux" }}
    set -gx SSH_AUTH_SOCK "{{ .shell_env.ssh_auth_sock.linux }}"
{{- end }}
end
