# PATH - Environment Variable
set -l __login_paths /opt/homebrew/bin /opt/homebrew/sbin \
    /opt/zerobrew/prefix/bin/ \
    /bin /usr/bin /usr/sbin /sbin /usr/local/bin \
    $HOME/go/bin $HOME/.cargo/bin {{ .xdgDataDir }}/cargo/bin \
    $HOME/.local/bin $HOME/bin /usr/bin/snap \
    $PROTO_HOME/shims $PROTO_HOME/bin \
    $HOME/.atuin/bin $XDG_CACHE_HOME/.bun/bin \
    $HOME/.tmuxifier/bin $LM_STUDIO_BIN \
    /run/current-system/sw/bin \
    $HOME/.local/state/nix/profiles/profile/bin \
    $HOME/.nix-profile/bin
set -l __existing_login_paths
for dir in $__login_paths
    test -d $dir; or continue
    set -a __existing_login_paths $dir
end
if set -q __existing_login_paths[1]
    fish_add_path -ga $__existing_login_paths
end
