# PATH - Environment Variable
set -l __login_paths
{{- range .shell_env.path.entries }}
set -a __login_paths "{{ . }}"
{{- end }}
set -l __existing_login_paths
for dir in $__login_paths
    test -d $dir; or continue
    set -a __existing_login_paths $dir
end
if set -q __existing_login_paths[1]
    fish_add_path -ga $__existing_login_paths
end
