# zmodload zsh/zprof # uncomment this for profiling function take time so it will slow startup

{{ if eq .chezmoi.os "darwin" }}
# Amazon Q pre block. Keep at the top of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh"
{{ end }}

# Custom completion path (tambahan manual)
if [ -d "${HOME}/.config/zsh/completions" ]; then
  fpath+=("${HOME}/.config/zsh/completions")
fi

# duplicates slow down searching
#############################################
builtin declare -aU fpath
builtin declare -aU path
builtin declare -aU manpath
# FPATH should not be exported
builtin declare +x FPATH
# duplicates slow down searching and
# mess up OMZ fpath check if should remove zcompdump
fpath=(${(u)fpath})
path=(${(u)path})
manpath=(${(u)manpath})

# Load Completions
#############################################
# Load all fpath completions first
autoload -Uz compinit

# Load all configuration
conf_dir="${ZDOTDIR:-$HOME/.config/zsh}/conf.d"

# Pastikan direktori ada
[ -d "$conf_dir" ] || return 0

# Aktifkan nullglob agar pattern tanpa match menjadi kosong
setopt null_glob

for file in "$conf_dir"/*.zsh "$conf_dir"/*.sh; do
  [ -r "$file" ] && source "$file"
done

unsetopt null_glob

{{ if eq .chezmoi.os "darwin" }}
# Amazon Q post block. Keep at the bottom of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh"
{{ end }}

# zprof # uncomment this for profiling function take time so it will slow startup

