{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  email             = {{ $email | quote }}
  github_user       = "chianyungcode"
  xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"
