alias cl='clear'

# = CLI TUI =
alias nv='nvim'
alias lzg='lazygit'
alias lzd='lazydocker'
alias mux='tmuxinator'
alias fier='tmuxifier'

alias clrnvses='rm -rf ~/.local/share/nvim/sessions/*'
alias ax='chmod a+x'                   # system: make file executable
alias untar='tar -zxvf'                # Extract tar.gz file
alias mktar='tar -cvzf'                # Create a tar.gz file
alias numfiles='echo $(ls -1 | wc -l)' # Count of non-hidden files in current directories
alias bkzsh='bindkey | fzf'
alias bktmux='tmux list-keys | fzf'

# === START OF CHEZMOI MANAGED ===
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") (lookPath "wl-copy")}}
alias cpwd="echo -n $(pwd) | wl-copy"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
alias cpwd="echo -n $(pwd) | pbcopy"
{{ end }}
# === END OF CHEZMOI MANAGED ===

# pueue
alias pue="pueue"
alias pueon="pueued -d"
alias puer="pueue reset"

# bun
alias bfzf="bun run \"\$(jq -r '.scripts | keys[]' package.json | fzf --no-border)\""

# Directories
alias dotf="cd ~/.local/share/chezmoi"
alias config="cd ~/.config/"

alias exz="exec zsh"
alias restart-kanata="sudo launchctl kickstart -k system/com.example.kanata"

####################### LIST DIRECTORY CONTENTS #######################
