{{ if .use_secrets }}
matches:
  - trigger: "!em5"
    replace: "{{ onepasswordRead .secrets.espanso.em1 }}"
  - trigger: "!em21"
    replace: "{{ onepasswordRead .secrets.espanso.em2 }}"
  - trigger: "!em7"
    replace: "{{ onepasswordRead .secrets.espanso.em3 }}"
  - trigger: "!emc"
    replace: "{{ onepasswordRead .secrets.espanso.em4 }}"
  - trigger: "!emp"
    replace: "{{ onepasswordRead .secrets.espanso.em5 }}"
{{- end }}
