{{ if .use_secrets }}
matches:
  - trigger: "ppp"
    replace: "{{ onepasswordRead .secrets.espanso.onepw }}"
  - trigger: ";;;"
    replace: "{{ onepasswordRead .secrets.espanso.lnxarch }}"
{{- end }}
