{{- $use_secrets := promptBoolOnce . "use_secrets" "Use secrets from 1Password? (true/false)" -}}
{{- $git_email := promptStringOnce . "git_email" "What's your git email" -}}
{{- $git_user := promptStringOnce . "git_user" "What's your git user" -}}
{{- $github_user := promptStringOnce . "github_user" "What's your github user" -}}
{{- $personal_computer := promptBoolOnce . "personal_computer" "Is this a personal computer for daily driving? (true/false)" -}}
{{- $dev_computer := promptBoolOnce . "dev_computer" "Do you do development on this computer? (true/false)" -}}
{{- $homelab_member := promptBoolOnce . "homelab_member" "Is this computer part of your homelab? (true/false)" -}}
{{- $machine_hostname := promptStringOnce . "machine_hostname" "What's your machine hostname" -}}
{{- $machine_username := promptStringOnce . "machine_username" "What's your machine username" -}}

# NOTE
# 'use_secrets' ensures whether you are using 1Password; if so, all 1Password functions like 'onePasswordRead' can be used because the "op" CLI is installed


[data]
  git_email         = {{ $git_email | quote }}
  git_user          = {{ $git_user | quote }}
  github_user       = {{ $github_user | quote }}
  machine_hostname  = {{ $machine_hostname | quote }}
  machine_username  = {{ $machine_username | quote }}
  dev_computer      = {{ $dev_computer }}
  homelab_member    = {{ $homelab_member }}
  is_ci_workflow    = false
  personal_computer = {{ $personal_computer }}
  use_secrets       = {{ $use_secrets }}
  xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"

[diff]
  {{ if lookPath "delta" -}}command = "delta"
  {{ end -}}
  pager = "delta"
