{{ if .use_secrets -}}
OCO_API_KEY={{ onepasswordRead .secrets.ai_tools.oco_apikey }}
OCO_API_URL={{ onepasswordRead .secrets.ai_tools.oco_apiurl }}
{{- end }}
OCO_AI_PROVIDER=openrouter
OCO_MODEL=minimax/minimax-m2.5
OCO_TOKENS_MAX_OUTPUT=500
OCO_DESCRIPTION=false
OCO_EMOJI=false
OCO_LANGUAGE=en
OCO_MESSAGE_TEMPLATE_PLACEHOLDER=$msg
OCO_PROMPT_MODULE=conventional-commit
OCO_ONE_LINE_COMMIT=true
OCO_TEST_MOCK_TYPE=commit-message
OCO_WHY=false
OCO_OMIT_SCOPE=false
OCO_GITPUSH=true
