# XDG Base Directory - Environment Variable
export XDG_DATA_HOME="${XDG_DATA_HOME:-{{ .shell_env.xdg.data_home }}}"
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-{{ .shell_env.xdg.config_home }}}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-{{ .shell_env.xdg.state_home }}}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-{{ .shell_env.xdg.cache_home }}}"
export XDG_DATA_DIRS="${XDG_DATA_DIRS:-{{ .shell_env.xdg.data_dirs_default }}}"

if [[ ":$XDG_DATA_DIRS:" != *":$XDG_DATA_HOME:"* ]]; then
  XDG_DATA_DIRS="$XDG_DATA_HOME:$XDG_DATA_DIRS"
  export XDG_DATA_DIRS
fi

# XDG User Directories - Environment Variable
if command -v xdg-user-dir >/dev/null 2>&1; then
  export XDG_DESKTOP_DIR="${XDG_DESKTOP_DIR:-$(xdg-user-dir DESKTOP)}"
  export XDG_DOWNLOAD_DIR="${XDG_DOWNLOAD_DIR:-$(xdg-user-dir DOWNLOAD)}"
  export XDG_TEMPLATES_DIR="${XDG_TEMPLATES_DIR:-$(xdg-user-dir TEMPLATES)}"
  export XDG_PUBLICSHARE_DIR="${XDG_PUBLICSHARE_DIR:-$(xdg-user-dir PUBLICSHARE)}"
  export XDG_DOCUMENTS_DIR="${XDG_DOCUMENTS_DIR:-$(xdg-user-dir DOCUMENTS)}"
  export XDG_MUSIC_DIR="${XDG_MUSIC_DIR:-$(xdg-user-dir MUSIC)}"
  export XDG_PICTURES_DIR="${XDG_PICTURES_DIR:-$(xdg-user-dir PICTURES)}"
  export XDG_VIDEOS_DIR="${XDG_VIDEOS_DIR:-$(xdg-user-dir VIDEOS)}"
fi
