# ███████╗███╗   ██╗██╗   ██╗      ██╗   ██╗ █████╗ ██████╗
# ██╔════╝████╗  ██║██║   ██║      ██║   ██║██╔══██╗██╔══██╗
# █████╗  ██╔██╗ ██║██║   ██║█████╗██║   ██║███████║██████╔╝
# ██╔══╝  ██║╚██╗██║╚██╗ ██╔╝╚════╝╚██╗ ██╔╝██╔══██║██╔══██╗
# ███████╗██║ ╚████║ ╚████╔╝        ╚████╔╝ ██║  ██║██║  ██║
# ╚══════╝╚═╝  ╚═══╝  ╚═══╝          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝

# == CONFIGURATION ENV VARIABLE ===
export DOTFILES="$HOME/.local/share/chezmoi"
export EDITOR="nvim"
export LM_STUDIO_BIN="$HOME/.lmstudio/bin"
export TMUXIFIER_LAYOUT_PATH="$HOME/.config/tmuxifier/layouts"

# Let zsh-abbr leave the cursor at the end of the expanded text
export ABBR_SET_EXPANSION_CURSOR=1

# Enable multiple-cursor placeholder support in zsh-abbr
# (required if you use more than one “cursor stop” in an abbreviation)
export ABBR_SET_LINE_CURSOR=1

# === START OF CHEZMOI MANAGED ===
{{ if .use_secrets }}
# == SECRETS ENV VARIABLE ==
export CONTEXT7_MCP_API_KEY={{ onepasswordRead .secrets.context7_api_key }}
export GITHUB_TOKEN={{ onepasswordRead .secrets.github_personal_access_token }}
export OPENROUTER_OPENCODE_APIKEY={{ onepasswordRead .secrets.opencode_apikey }}
export WAKATIME_API_KEY={{ onepasswordRead .secrets.wakatime_apikey }}
{{ end }}
if [[ -z "${SSH_TTY:-}" ]]; then
  {{- if eq .chezmoi.os "darwin" }}
  export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  {{- else if eq .chezmoi.os "linux" }}
  export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
fi

{{ if eq .chezmoi.os "darwin" }}
export DISABLE_AUTO_TITLE='true' # Prevent auto update in title window macos
{{ end }}
# === END OF CHEZMOI MANAGED ===
