# Build PATH
_myPaths=(
  "$HOME/.local/bin"
  "/usr/local/bin"
  "/opt/homebrew/bin"
  "{{ .directories.user_bin_dir }}"
  "{{ .xdgDataDir }}/cargo/bin"
  "$HOME/.cargo/bin"
  "/usr/bin/snap"
  "$HOME/.atuin/bin"
  "$PROTO_HOME/shims"
  "$PROTO_HOME/bin"
  "$HOME/.tmuxifier/bin"
  "$LM_STUDIO_BIN"
  "$XDG_CACHE_HOME/.bun/bin"
)

for _path in "${_myPaths[@]}"; do
  if [[ -d $_path ]] && [[ ":$PATH:" != *":$_path:"* ]]; then
    PATH="$_path:$PATH"
  fi
done

unset _myPaths _path
