# ██████╗  █████╗ ████████╗██╗  ██╗
# ██╔══██╗██╔══██╗╚══██╔══╝██║  ██║
# ██████╔╝███████║   ██║   ███████║
# ██╔═══╝ ██╔══██║   ██║   ██╔══██║
# ██║     ██║  ██║   ██║   ██║  ██║
# ╚═╝     ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝

# The `PATH` environment variable specifies a list of directories where the operating system looks for executable files. When you run a command, the system searches these directories in order to find the program to execute. This allows you to run programs without typing their full file path.

# Build PATH
_myPaths=(
  # --- system wide/common ---
  "/opt/homebrew/bin"
  "/usr/bin/snap"
  "/usr/local/bin"

  # --- user local common ---
  "$HOME/.cargo/bin"
  "$HOME/.local/bin"
  "$HOME/go/bin"                          # default GOPATH
  "{{ .directories.user_bin_dir }}"
  "{{ .xdgDataDir }}/cargo/bin"
  "$XDG_CACHE_HOME/.bun/bin"

  # --- app specific / tooling ---
  "$HOME/.atuin/bin"
  "$HOME/.tmuxifier/bin"
  "$LM_STUDIO_BIN"
  "$PROTO_HOME/bin"
  "$PROTO_HOME/shims"
)

for _path in "${_myPaths[@]}"; do
  if [[ -d $_path ]] && [[ ":$PATH:" != *":$_path:"* ]]; then
    PATH="$_path:$PATH"
  fi
done

unset _myPaths _path
