# ███████╗███╗   ██╗██╗   ██╗      ██╗   ██╗ █████╗ ██████╗
# ██╔════╝████╗  ██║██║   ██║      ██║   ██║██╔══██╗██╔══██╗
# █████╗  ██╔██╗ ██║██║   ██║█████╗██║   ██║███████║██████╔╝
# ██╔══╝  ██║╚██╗██║╚██╗ ██╔╝╚════╝╚██╗ ██╔╝██╔══██║██╔══██╗
# ███████╗██║ ╚████║ ╚████╔╝        ╚████╔╝ ██║  ██║██║  ██║
# ╚══════╝╚═╝  ╚═══╝  ╚═══╝          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝

# == CONFIGURATION ENV VARIABLE ===
export DOTFILES="$HOME/.local/share/chezmoi"
export EDITOR="nvim"
export LM_STUDIO_BIN="$HOME/.lmstudio/bin"
export TMUXIFIER_LAYOUT_PATH="$HOME/.config/tmuxifier/layouts"
export ANTIDOTE_HOME="${XDG_CACHE_HOME}/antidote"

# Let zsh-abbr leave the cursor at the end of the expanded text
export ABBR_SET_EXPANSION_CURSOR=1

# Enable multiple-cursor placeholder support in zsh-abbr
# (required if you use more than one “cursor stop” in an abbreviation)
export ABBR_SET_LINE_CURSOR=1

# --- Configuration ---
export GIT_CONFIG_GLOBAL="${XDG_CONFIG_HOME}/git/config"
export PROTO_HOME="${XDG_CONFIG_HOME}/proto"
export STARSHIP_CONFIG="${XDG_CONFIG_HOME}/starship/starship.toml"
export PARALLEL_HOME="${XDG_CONFIG_HOME}/parallel"
export SCREENRC="${XDG_CONFIG_HOME}/screen/screenrc"
export WGETRC="${XDG_CONFIG_HOME}/wgetrc"

# --- Data ---
export _ZO_DATA_DIR="${XDG_DATA_HOME}/zoxide"

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
export HYPRLAND_CONFIG="${XDG_DATA_HOME:-$HOME/.local/share}/hypr/hyprland.conf"
export TERMINFO="${XDG_DATA_HOME}/terminfo"
export TERMINFO_DIRS="${XDG_DATA_HOME}/terminfo:/usr/share/terminfo"
{{ end -}}

# --- State & Misc ---
export LESSHISTFILE="${LESSHISTFILE:-/tmp/less-hist}"
export PYTHON_HISTORY="${XDG_STATE_HOME}/python_history"

if [[ -z "${SSH_TTY:-}" ]]; then
  {{- if eq .chezmoi.os "darwin" }}
  export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  {{- else if eq .chezmoi.os "linux" }}
  export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
  {{- end }}
fi

{{ if eq .chezmoi.os "darwin" }}
export DISABLE_AUTO_TITLE='true' # Prevent auto update in title window macos
{{ end }}
