# ██████╗  █████╗ ████████╗██╗  ██╗
# ██╔══██╗██╔══██╗╚══██╔══╝██║  ██║
# ██████╔╝███████║   ██║   ███████║
# ██╔═══╝ ██╔══██║   ██║   ██╔══██║
# ██║     ██║  ██║   ██║   ██║  ██║
# ╚═╝     ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝

# The `PATH` environment variable specifies a list of directories where the operating system looks for executable files. When you run a command, the system searches these directories in order to find the program to execute. This allows you to run programs without typing their full file path.

# Build PATH
_myPaths=(
{{- range .shell_env.path.entries }}
  "{{ . }}"
{{- end }}
)

for _path in "${_myPaths[@]}"; do
  if [[ -d $_path ]] && [[ ":$PATH:" != *":$_path:"* ]]; then
    PATH="$_path:$PATH"
  fi
done

unset _myPaths _path
