# Secret - Environment Variable
{{ if .use_secrets -}}
{{ $context7 := onepasswordRead .secrets.ai_tools.context7_apikey -}}
{{- if $context7 }}
export CONTEXT7_MCP_API_KEY="{{ $context7 }}"
{{ end -}}
{{ $github := onepasswordRead .secrets.github.cny_gh_pat -}}
{{- if $github }}
export GITHUB_TOKEN="{{ $github }}"
{{ end -}}
{{ $openrouter := onepasswordRead .secrets.ai_tools.opencode_apikey -}}
{{- if $openrouter }}
export OPENROUTER_OPENCODE_APIKEY="{{ $openrouter }}"
{{ end -}}
{{ $wakatime := onepasswordRead .secrets.productivity.wakatime_apikey -}}
{{- if $wakatime }}
export WAKATIME_API_KEY="{{ $wakatime }}"
{{- end -}}
{{- end }}
