# Secret - Environment Variable
{{ if .use_secrets -}}
{{ $context7 := onepasswordRead .secrets.context7_api_key -}}
{{- if $context7 }}
export CONTEXT7_MCP_API_KEY="{{ $context7 }}"
{{ end -}}
{{ $github := onepasswordRead .secrets.github_personal_access_token -}}
{{- if $github }}
export GITHUB_TOKEN="{{ $github }}"
{{ end -}}
{{ $openrouter := onepasswordRead .secrets.opencode_apikey -}}
{{- if $openrouter }}
export OPENROUTER_OPENCODE_APIKEY="{{ $openrouter }}"
{{ end -}}
{{ $wakatime := onepasswordRead .secrets.wakatime_apikey -}}
{{- if $wakatime }}
export WAKATIME_API_KEY="{{ $wakatime }}"
{{- end -}}
{{- end }}
