{{ if eq .secrets.provider "onepassword" -}}
{{ $context7 := onepasswordRead .secrets.ai.mcp.context7_apikey -}}
{{- if $context7 -}}
export CONTEXT7_MCP_API_KEY="{{ $context7 }}"
{{ end -}}
{{- $github := "" -}}
{{- if .identity.github_token -}}
{{- $github = onepasswordRead (index .secrets.github .identity.github_token) -}}
{{- end -}}
{{- if $github -}}
export GITHUB_TOKEN="{{ $github }}"
{{ end -}}
{{ $openrouter := onepasswordRead .secrets.ai.inference.openrouter_apikey -}}
{{- if $openrouter -}}
export OPENROUTER_API_KEY="{{ $openrouter }}"
{{ end -}}
{{ $wakatime := onepasswordRead .secrets.productivity.wakatime_apikey -}}
{{- if $wakatime -}}
export WAKATIME_API_KEY="{{ $wakatime }}"
{{- end -}}
{{ $exa := onepasswordRead .secrets.ai.mcp.exa_apikey -}}
{{- if $exa -}}
export EXA_API_KEY="{{ $exa }}"
{{ end -}}
{{ $linear := onepasswordRead .secrets.ai.mcp.linear_apikey -}}
{{- if $linear -}}
export LINEAR_API_KEY="{{ $linear }}"
{{ end -}}
{{ $tavily := onepasswordRead .secrets.ai.mcp.tavily_apikey -}}
{{- if $tavily -}}
export TAVILY_API_KEY="{{ $tavily }}"
{{ end -}}
{{ $ticktick := onepasswordRead .secrets.ai.mcp.ticktick_apikey -}}
{{- if $ticktick -}}
export TICKTICK_API_KEY="{{ $ticktick }}"
{{- end -}}
{{- end }}
