;; This is for single line comment

;; Global configuration, this configuration applied globally
(defcfg
  process-unmapped-keys yes
  concurrent-tap-hold yes ;; for input chording/combos

  macos-dev-names-exclude (
    "Corne"
    "NuPhy Air75 V2"
  )

;;  macos-dev-names-include (
;;      "Chian's Magic Keyboard"
;;  )
)

;; Variable for storing a constant value
(defvar
  tap-time 200
  hold-time 200
  hold-time-slow 300
  input-chord-time 250
)

;; Define key that want to remap
(defsrc
       f1    f2    f3    f4    f5    f6    f7    f8    f9    f10   f11   f12
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  q    w    e    r    t    y    u    i    o    p    [    ]    \
  caps a    s    d    f    g    h    j    k    l    ;    '    ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft
  lctl lmet lalt           spc            ralt rmet rctl
)

;;  Syntax for tap-hold
;;  (tap-hold TAP-TIME HOLD-TIME TAP-KEY HOLD-KEY)
(defalias
  s (tap-hold $tap-time $hold-time s lctl)
  d (tap-hold $tap-time $hold-time d lalt)
  f (tap-hold $tap-time $hold-time f lmet)
  l (tap-hold $tap-time $hold-time l lctl)
  k (tap-hold $tap-time $hold-time k lalt)
  j (tap-hold $tap-time $hold-time j lmet)
  / (tap-hold $tap-time $hold-time / lalt)
  hyperkey (tap-hold $tap-time $hold-time spc (multi lsft lctl lalt lmet))
  caps (tap-hold $tap-time $hold-time esc (layer-toggle layer1))

  ;; macOS
  mc C-up ;; Mission Control
  sls M-spc ;; Spotlight Search
  dtn S-C-A-M-f5 ;; Dictation
  dnd S-C-A-M-f6 ;; Do Not Disturb
  lp S-C-A-M-l ;; Launchpad

  {{ if eq .chezmoi.os "linux" -}}
  ;; Change behavior for switch tab in browser in linux to matching with macOS behavior
  tab-left C-S-tab
  tab-right C-tab
  {{- end }}
)

;; == Input combos / chording ==
#|
  syntax:
  (participating-keysN) actionN timeoutN release-behaviourN (disabled-layersN)

  references:
  https://jtroo.github.io/config.html#input-chords-v2

  timeoutN :
  The maximum time (in milliseconds) between the first key press and the subsequent ones for them to be recognized as a "chord".
  If the keys are not pressed within this time window, the system treats them as regular key presses (not a chord) and processes them according to the active layer.
|#

(defchordsv2
  {{- if eq .chezmoi.os "darwin" }}
  (m ,) A-bspc $input-chord-time all-released ()
  (i o) A-left 80 all-released ()
  (o p) A-right 80 all-released ()

  {{- else if eq .chezmoi.os "linux" }}
  (m ,) C-bspc $input-chord-time all-released ()
  (i o) C-left 80 all-released ()
  (o p) C-right 80 all-released ()
  (lalt lsft [) C-S-tab 250 first-release ()
  (lalt lsft ]) C-tab 250 first-release ()
  {{- end }}

  (l r) lrld $input-chord-time all-released () ;; live reload kanata, press this after changing kanata configuration
  (j k) C-a 80 all-released () ;; tmux prefix
)

;; == Layers ==
;; the order of deflayer is important, the first layer defined is the layer that will be active by default when kanata is running

;; Define base / default layer
(deflayer base
       🔅    🔆    @mc   @sls  @dtn  @dnd  ◀◀    ▶⏸    ▶▶    🔇    🔉    🔊
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab    q    w    e    r    t    y    u    i    o    p    [    ]    \
  @caps  a    @s    @d    @f    g    h    @j    @k    @l    ;    '    ret
  lsft z    x    c    v    b    n    m    ,    .    @/    rsft ;; Tombol x sekarang punya fungsi ganda
  lctl lmet lalt           @hyperkey            ralt rmet rctl
)

(deflayer layer1
       🔅    🔆    @mc   @sls  @dtn  @dnd  ◀◀    ▶⏸    ▶▶    🔇    🔉    🔊
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  q    w    e    r    t    y    u    i    o    p    @tab-left   @tab-right    \
  caps a    s    d    f    g    left    down    up    right    ;    '    ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft
  lctl lmet lalt           spc            ralt rmet rctl
)
