# ███████╗███╗   ██╗██╗   ██╗      ██╗   ██╗ █████╗ ██████╗
# ██╔════╝████╗  ██║██║   ██║      ██║   ██║██╔══██╗██╔══██╗
# █████╗  ██╔██╗ ██║██║   ██║█████╗██║   ██║███████║██████╔╝
# ██╔══╝  ██║╚██╗██║╚██╗ ██╔╝╚════╝╚██╗ ██╔╝██╔══██║██╔══██╗
# ███████╗██║ ╚████║ ╚████╔╝        ╚████╔╝ ██║  ██║██║  ██║
# ╚══════╝╚═╝  ╚═══╝  ╚═══╝          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝
# https://fishshell.com/docs/current/language.html#shell-variables
# https://fishshell.com/docs/current/language.html#exporting-variables
# https://fishshell.com/docs/current/cmds/set.html
# https://fishshell.com/docs/current/cmds/export.html
# https://fishshell.com/docs/current/fish_for_bash_users.html#variables
#
# set -Ux <variable_name> / -Ux: universal and exported
#   Universal variables are variables that are shared between all the user’s fish sessions on the computer.
#   If an external command needs to know a variable, it needs to be exported.
#   Exported variables are also often called “environment variables”.

# set -gx <variable_name> / -gx: global and exported
#   Global variables are specific to the current fish session.
#   If an external command needs to know a variable, it needs to be exported.
#   Exported variables are also often called “environment variables”.


# == CONFIGURATION ENV VARIABLE ===
set -gx DOTFILES "$HOME/.local/share/chezmoi"
set -gx EDITOR nvim
set -gx LM_STUDIO_BIN "$HOME/.lmstudio/bin"

# === START OF CHEZMOI MANAGED ===
{{- if .use_secrets }}
# == SECRETS ENV VARIABLE ==
set -gx CONTEXT7_MCP_API_KEY "{{ onepasswordRead .secrets.context7_api_key }}"
set -gx GITHUB_TOKEN "{{ onepasswordRead .secrets.github_personal_access_token }}"
set -gx OPENROUTER_OPENCODE_APIKEY "{{ onepasswordRead .secrets.opencode_apikey }}"
set -gx WAKATIME_API_KEY "{{ onepasswordRead .secrets.wakatime_apikey }}"
set -gx SSH_AUTH_SOCK "{{ index (dict
    "darwin" "~/Library/Group\\ Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    "linux"  "~/.1password/agent.sock"
) .chezmoi.os }}
{{- end }}"
# === END OF CHEZMOI MANAGED ===
