# ██████╗  █████╗ ████████╗██╗  ██╗
# ██╔══██╗██╔══██╗╚══██╔══╝██║  ██║
# ██████╔╝███████║   ██║   ███████║
# ██╔═══╝ ██╔══██║   ██║   ██╔══██║
# ██║     ██║  ██║   ██║   ██║  ██║
# ╚═╝     ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝
# https://fishshell.com/docs/current/language.html#path-variables
# All variables that end in “PATH” (case-sensitive) become PATH variables by default. Example: set -gx PATH <path/to/bin> $PATH
#
# https://fishshell.com/docs/current/cmds/fish_add_path.html#fish-add-path-add-to-the-path
#
# Add directories to PATH can achieve with 2 ways :
# set -gx PATH <path/to/bin> $PATH
# -- or --
# fish_add_path <custom_flags> <path/to/bin>

# macOS default binaries
fish_add_path -gP /bin
fish_add_path -gP /usr/bin
fish_add_path -gP /usr/sbin
fish_add_path -gP /sbin

# Additional tools binaries
fish_add_path -gP /opt/homebrew/bin
fish_add_path -gP /opt/homebrew/sbin
fish_add_path -gP /usr/local/bin
fish_add_path -gP $PROTO_HOME/shims
fish_add_path -gP $PROTO_HOME/bin
fish_add_path -gP $HOME/.local/bin
fish_add_path -gP {{ .xdgDataDir }}/cargo/bin
fish_add_path -gP $HOME/bin # personal bin directories
fish_add_path -gP /usr/bin/snap
fish_add_path -gP $HOME/.atuin/bin
fish_add_path -gP $HOME/.tmuxifier/bin
fish_add_path -gP $LM_STUDIO_BIN
fish_add_path -gP $XDG_CACHE_HOME/.bun/bin

# Remove duplicate paths from PATH variable
set -gx PATH (string split ':' $PATH | sort -u | string join ':')
