# Load fzf
# if type -q fzf
    # Fish tidak pakai deteksi $ZSH_NAME atau $BASH, langsung jalankan completions-nya
    # fzf --fish | source
# end

# override ctrl-r fzf, i prefer using atuin for searching command history
# bind to ctrl-r in normal and insert mode, add any other bindings you want here too
bind \cr _atuin_search
bind -M insert \cr _atuin_search
