set HASH "%C(always,yellow)%h%C(always,reset)"
set RELATIVE_TIME "%C(always,green)%ar%C(always,reset)"
set AUTHOR "%C(always,bold blue)%an%C(always,reset)"
set REFS "%C(always,red)%d%C(always,reset)"
set SUBJECT "%s"

set FORMAT "$HASH $RELATIVE_TIME{$AUTHOR{$REFS $SUBJECT"

function pretty_git_log
    git log --graph --pretty="tformat:$FORMAT" | column -t -s '{' | less -XRS --quit-if-one-screen
end

alias prgl="pretty_git_log" # A nicer Git Log

function gurl
    # DESC: Print URL of current git repository
    git remote get-url origin \
        | sed 's/\.git$//' \
        | sed 's/^ssh:\/\/git@/https:\/\//' \
        | sed -E 's/:[0-9]+//' \
        | sed 's/git@github.com:/https:\/\/github.com\//'
end
