session_name "dev_backend"

layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="1.backend" split_direction="horizontal" {
    pane split_direction="vertical" {
         pane size="70%" cwd="~/Code/Personal/Projects/Backend/allweezy-backend/" command="nvim" name="editor"
         pane size="30%" cwd="~/Documents/vault-obsidian/" name="running_notes"
    }
  }

  tab name="2.codex" split_direction="horizontal" {
    pane name="2.codex" command="codex"
  }

  tab name="3.opencode" split_direction="horizontal" {
    pane name="opencode" command="opencode"
  }

  tab name="4.runner" split_direction="horizontal" {
    pane name="task" cwd="~/Code/Personal/Projects/Backend/allweezy-backend/" command="task" {
      args "dev"
      start_suspended true
    }
  }

}
