---
matches:
  - trigger: "ai1"
    replace: "{{ onepasswordRead .secrets.ai_help.one }}"
  - trigger: "ai2"
    replace: "{{ onepasswordRead .secrets.ai_help.two }}"
  - trigger: "ai3"
    replace: "{{ onepasswordRead .secrets.ai_help.three }}"
  - trigger: "ai4"
    replace: "{{ onepasswordRead .secrets.ai_help.four }}"
  - trigger: "ai5"
    replace: "{{ onepasswordRead .secrets.ai_help.five }}"
