{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}

#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

packages=(
    {{ range $package := .packages.pacman.common.packages }}
    "{{ $package }}"
    {{ end }}
    {{ if .dev_computer }}
    {{ range $package := .packages.pacman.dev_computer.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
    {{ if .homelab_member }}
    {{ range $package := .packages.pacman.homelab_member.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
    {{ if .personal_computer }}
    {{ range $package := .packages.pacman.personal_computer.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
)

header "Installing packages with paru"
paru -Syu --noconfirm

for package in "${packages[@]}"; do
    if paru -Qi "${package}" &>/dev/null; then
        info "Package ${package} is already installed"
        continue
    fi

    # Coba install dari repo resmi dulu, jika gagal install dari AUR
    if paru -S --repo --noconfirm "${package}"; then
        info "Installed ${package} from Arch repo"
    else
        warning "${package} not found in Arch repository, Trying to install ${package} from AUR"
        if paru -S --aur --noconfirm "${package}"; then
            info "Installed ${package} from AUR"
        else
            warning "Package ${package} not found in Arch repo or AUR"
        fi
    fi
done

success "Paru packages installed"
_safeExit_

{{- end }}
