#!/usr/bin/env bash
{{- if and (lookPath "kanata") (.dev_computer) }}

{{- $os := .chezmoi.os -}}
{{- $sourceDir := .chezmoi.sourceDir -}}
{{- $homeDir := .chezmoi.homeDir -}}

{{- if and (eq $os "linux") (eq .chezmoi.osRelease.id "arch") }}
mkdir -p "{{ $homeDir }}/.config/systemd/user"
install -m 644 "{{ $sourceDir }}/dot_config/kanata/service-manager/linux/kanata.service" "{{ $homeDir }}/.config/systemd/user/kanata.service"
systemctl --user daemon-reload
systemctl --user enable --now kanata.service

{{- else if eq $os "darwin" }}
# https://github.com/jtroo/kanata/discussions/1537

sudo mkdir -p /Library/LaunchDaemons/
for plist in \
  "{{ $sourceDir }}/dot_config/kanata/service-manager/macos/com.example.kanata.plist" \
  "{{ $sourceDir }}/dot_config/kanata/service-manager/macos/com.example.karabiner-vhiddaemon.plist" \
  "{{ $sourceDir }}/dot_config/kanata/service-manager/macos/com.example.karabiner-vhidmanager.plist"
do
  sudo install -m 644 "$plist" "/Library/LaunchDaemons/$(basename "$plist")"
done

sudo launchctl bootstrap system /Library/LaunchDaemons/com.example.kanata.plist
sudo launchctl enable system/com.example.kanata.plist

sudo launchctl bootstrap system /Library/LaunchDaemons/com.example.karabiner-vhiddaemon.plist
sudo launchctl enable system/com.example.karabiner-vhiddaemon.plist

sudo launchctl bootstrap system /Library/LaunchDaemons/com.example.karabiner-vhidmanager.plist
sudo launchctl enable system/com.example.karabiner-vhidmanager.plist

{{- end }}
{{- end }}
{{- end }}
