{{- $is_ci := ne (env "CI") "" -}}
{{- if and (eq .chezmoi.os "darwin") (not $is_ci) -}}
#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

apps=(
    {{ range $package := .packages.mas.common.apps }}
    "{{ $package }}"
    {{ end }}

    {{ if .features.development }}
    {{ range $package := .packages.mas.development.apps }}
    "{{ $package }}"
    {{ end }}
    {{ end }}

    {{ if .features.homelab }}
    {{ range $package := .packages.mas.homelab.apps }}
    "{{ $package }}"
    {{ end }}
    {{ end }}

    {{ if .features.personal }}
    {{ range $package := .packages.mas.personal.apps }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
)

if [[ $(command -v mas) ]]; then
    header "Installing Applications from mas"

    for app in "${apps[@]}"; do
        if mas list | awk '{print $1}' | grep -E "^${app}$" &>/dev/null; then
            continue
        fi
        mas install ${app}
    done
fi
_safeExit_

{{- end }}
