#!/usr/bin/env bash

{{ template "shared_script_utils.bash" . }}

header "Installing python packages with uv"

packages=(
    {{ range $package := .packages.python.common.packages }}
    "{{ $package }}"
    {{ end }}

    {{ if .features.development }}
    {{ range $package := .packages.python.development.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}

    {{ if .features.homelab }}
    {{ range $package := .packages.python.homelab.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}

    {{ if .features.personal }}
    {{ range $package := .packages.python.personal.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
)

UV_PATH="$(_uvBinaryPath_)" || {
    error "uv is not installed"
    _safeExit_ 1
}

if [[ -n ${UV_PATH} ]]; then
    # Install the packages with uv
    for package in "${packages[@]}"; do
        ${UV_PATH} tool install "${package}"
    done
fi

success "Python packages installed"

_safeExit_
