#!/usr/bin/env bash
{{- if and (lookPath "kanata") (.dev_computer) }}

{{- $os := .chezmoi.os -}}
{{- $sourceDir := .chezmoi.sourceDir -}}
{{- $homeDir := .chezmoi.homeDir -}}

{{- if and (eq $os "linux") (eq .chezmoi.osRelease.id "arch") }}
arch_first_setup_script="{{ $sourceDir }}/chezmoi/bin/executable_arch-first-setup.sh"

if [ -f "$arch_first_setup_script" ]; then
  if [ ! -x "$arch_first_setup_script" ]; then
    echo "Making $arch_first_setup_script executable..."
    chmod +x "$arch_first_setup_script"
  fi

  echo "Running Arch first setup script..."
  "$arch_first_setup_script"
else
  echo "Arch first setup script not found at $arch_first_setup_script" >&2
  exit 1
fi

{{- else if eq $os "darwin" }}
# https://github.com/jtroo/kanata/discussions/1537

sudo mkdir -p /Library/LaunchDaemons/
for plist in \
  "{{ $sourceDir }}/dot_config/kanata/service-manager/macos/com.example.kanata.plist" \
  "{{ $sourceDir }}/dot_config/kanata/service-manager/macos/com.example.karabiner-vhiddaemon.plist" \
  "{{ $sourceDir }}/dot_config/kanata/service-manager/macos/com.example.karabiner-vhidmanager.plist"
do
  sudo install -m 644 "$plist" "/Library/LaunchDaemons/$(basename "$plist")"
done

sudo launchctl bootstrap system /Library/LaunchDaemons/com.example.kanata.plist
sudo launchctl enable system/com.example.kanata.plist

sudo launchctl bootstrap system /Library/LaunchDaemons/com.example.karabiner-vhiddaemon.plist
sudo launchctl enable system/com.example.karabiner-vhiddaemon.plist

sudo launchctl bootstrap system /Library/LaunchDaemons/com.example.karabiner-vhidmanager.plist
sudo launchctl enable system/com.example.karabiner-vhidmanager.plist

{{- end }}
{{- end }}
