if not status is-interactive
    exit
end

{{ if eq .chezmoi.os "darwin" }}
eval (/opt/homebrew/bin/brew shellenv)
{{ if lookPath "brew" }}
set fish_complete_path $fish_complete_path (brew --prefix)/share/fish/completions
set fish_complete_path $fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
{{ end -}}
{{ end -}}

# Create XDG directories
set -l xdg_cache_dir "$HOME/.cache" # Replace with actual template value
set -l xdg_data_dir "$HOME/.local/share" # Replace with actual template value
set -l xdg_state_dir "$HOME/.local/state" # Replace with actual template value
set -l xdg_config_dir "$HOME/.config" # Replace with actual template value

# enable fish vi keybinding on startup
fish_vi_key_bindings

for dir in "$xdg_cache_dir/fish" "$xdg_data_dir/fish" "$xdg_state_dir/fish"
    if not test -d $dir
        mkdir -p $dir
    end
end

set -U fish_greeting # disable fish greeting

