# === KEYBINDINGS ===
# Use 'bind' as an alias for 'bind-key'

# -------------------------------------------------------------------
# Remap prefix key
# -------------------------------------------------------------------
unbind C-b
set -g prefix C-a
bind-key C-a send-prefix  # or: bind-key -T prefix C-a send-prefix

# -------------------------------------------------------------------
# Split window in the same working directory as the active pane
# -------------------------------------------------------------------
unbind %
bind | split-window -h -c '#{pane_current_path}'  # Horizontal split
# alternative: 'tmux split-window -h -c "$(tmux display -p "#{pane_current_path}")"'

unbind '"'
bind - split-window -v -c '#{pane_current_path}'  # Vertical split
# alternative: 'tmux split-window -v -c "$(tmux display -p "#{pane_current_path}")"'

# -------------------------------------------------------------------
# Close pane & window without confirmation prompt
# -------------------------------------------------------------------
unbind x
bind -N "Close pane without confirmation" -T prefix x kill-pane
# skips: "kill-pane 1? (y/n)" prompt

unbind &
bind -N "Close window without confirmation" -T prefix & kill-window

# -------------------------------------------------------------------
# Additional keybindings
# -------------------------------------------------------------------
# Reload tmux configuration
bind r source-file $HOME/.config/tmux/tmux.conf \; display-message "Config reloaded"

# Create new window in the same working directory as the active pane
bind c new-window -c '#{pane_current_path}'

unbind C-w # Unbind this because conflicting with zsh shell keybind which i prefer to use

unbind q # unbind 'display-pane' which the default is prefix + q
bind Q display-pane # rebinding 'display-pane' to Q

bind q last-pane # bind q to switch between last-pane

bind a last-window
bind A switch-client -l

# Pane navigation using hjkl (similar to Vim)
bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R

# Resize pane dengan prefix + arrow keys
bind Left resize-pane -L 5
bind Right resize-pane -R 5
bind Up resize-pane -U 5
bind Down resize-pane -D 5

# --- RUN A CLI TOOL e.g sesh,lazygit,bun ---
bind-key o run-shell "$HOME/.config/tmux/scripts/sesh.sh"
# bind -N "Control+g (root mode) lazygit" -T root C-g new-window -c "#{pane_current_path}" -n "🌳" "lazygit 2> /dev/null" # Lazygit
bind -N "Run last sessions" -T prefix L run-shell "sesh last || tmux display-message -d 1000 'Oops, no last sessions found'"
# bind -N "Control-d (root mode) lazydocker" -T prefix C-d new-window -c "#{pane_current_path}" -n "🐳" "lazydocker 2> /dev/null" # Lazydocker
bind -N "Run btop" -T root C-m new-window -c "#{pane_current_path}" -n "📈" "btop"
# bind -N "Run Yazi" -T root C-y new-window -c "#{pane_current_path}" -n "📁" "yazi"
# bind -N "Run a script" Y split-window -v -l 10 "sleep 2 && bun run $(jq -r '.scripts | keys[]' package.json | fzf)"
bind-key "K" display-popup -E -w 40% "sesh connect \"$(
 sesh list -i | gum filter --limit 1 --no-sort --fuzzy --placeholder 'Pick a sesh' --height 50 --prompt='⚡'
)\""


# --- Add capabilites to copy and paste in mode: copy-mode-vi ---
bind -T copy-mode-vi v send -X begin-selection
{{- if eq .chezmoi.os "darwin" }}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"
bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"
{{ else if and (eq .chezmoi.os "linux") }}
if-shell 'command -v wl-copy' {
      bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "wl-copy"
      bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "wl-copy"
    } {
      if-shell 'command -v xclip' {
        bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xclip -selection clipboard -in"
        bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xclip -selection clipboard -in"
      } {
        if-shell 'command -v xsel' {
          bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xsel --clipboard --input"
          bind -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xsel --clipboard --input"
        }
      }
    }
{{- end }}
bind P paste-buffer
