[user]
  name = "{{ .git_user}}"
  email = "{{ .git_email }}"

[ui]
  default-command = "log"
  diff-formatter = ":git" # for delta pager
  pager = "delta"
  # diff-editor = "diffedit3"
  diff-editor = "gitpatch"
  editor = "nvim"

[merge-tools.gitpatch]
  program = "sh"
  edit-args = ["-c", '''
    set -eu
    rm -f "$right/JJ-INSTRUCTIONS"
    git -C "$left" init -q
    git -C "$left" add -A
    git -C "$left" commit -q -m baseline --allow-empty
    mv "$left/.git" "$right"
    git -C "$right" add --intent-to-add --ignore-removal .
    git -C "$right" add -p
    git -C "$right" diff-index --quiet --cached HEAD && { echo "No changes done, aborting split."; exit 1; }
    git -C "$right" commit -q -m split
    git -C "$right" reset -q --hard
  ''',
  ]

[git]
  push-new-bookmarks = true

[signing]
  behavior = "own"
  backend = "ssh"
  {{- if and .use_secrets (eq .git_user "chianyungcode") }}
  key = "{{ onepasswordRead .secrets.git_signing_key_cny }}"
  {{- else if and .use_secrets (eq .git_user "seraphynee") }}
  key = "{{ onepasswordRead .secrets.git_signing_key_phyne }}"
  {{- end }}

[templates]
  git_push_bookmark = '"chianyung/push-" ++ change_id.short()'

[template-aliases]
  # 'format_short_id(id)' = 'id.shortest()'
  # 'format_short_id(id)' = 'id.shortest(12).prefix() ++ "[" ++ id.shortest(12).rest() ++ "]"'
  'commit_change_ids' = '''
      concat(
        format_field("Change ID", change_id.short(8)),
        format_field("Commit ID", commit_id.short(7)),
      )
    '''
  'oneline_log' = 'separate(" ", change_id.shortest(8), description.first_line(), commit_id.shortest(7))'


[aliases]
  ed = ["edit"]
  la = ["log", "-r", "all()"]
  abd = ["abandon"]
  fetch = ["git", "fetch"]
  init = ["git", "init", "--colocate"]
  mark = ["bookmark", "set", "-r"]
  markc = ["bookmark", "set", "-r", "@"]
  push = ["git", "push", "--allow-new"]
  track = ["bookmark", "track"]
