# ████████╗███╗   ███╗██╗   ██╗██╗  ██╗
# ╚══██╔══╝████╗ ████║██║   ██║╚██╗██╔╝
#    ██║   ██╔████╔██║██║   ██║ ╚███╔╝
#    ██║   ██║╚██╔╝██║██║   ██║ ██╔██╗
#    ██║   ██║ ╚═╝ ██║╚██████╔╝██╔╝ ██╗
#    ╚═╝   ╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═╝
# Terminal multiplexer
# https://github.com/tmux/tmux
# https://man7.org/linux/man-pages/man1/tmux.1.html#top_of_page

# Modular configuration loader
set -g @tmux_conf_d "$HOME/.config/tmux/conf.d"
if-shell -F '[ -d "#{@tmux_conf_d}" ]' \
  "run-shell 'find \"#{@tmux_conf_d}\" -maxdepth 1 -type f -name \"*.conf\" -print0 | sort -z | xargs -0 -n 1 tmux source-file'" \
  'display-message "tmux conf.d directory not found"'
