{{- if and (eq .chezmoi.os "darwin") (joinPath .chezmoi.homeDir ".orbstack/ssh/config" | lstat) -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{- end }}

# Create a new key with:
# ssh-keygen -f [filename] -t ed25519 -C "[comment]"
# ssh-keygen -f [filename] -t rsa -b 4096 -C "[comment]"

# ##### Chezmoi Managed #############
{{- if .use_secrets}}
{{- range .remote_servers }}
{{-     if .add_to_ssh_config }}

{{-         if .tailscale_ip }}
Host tail{{ .name }}
    User {{ range (onepassword .op_id).fields }}{{ if eq .label "user" }}{{ .value }}{{ end }}{{ end }}
    Hostname {{ range (onepassword .op_id).fields }}{{ if eq .label "tailscale_ip" }}{{ .value }}{{ end }}{{ end }}
{{-         else }}
Host {{ .name }}
    User {{ range (onepassword .op_id).fields }}{{ if eq .label "user" }}{{ .value }}{{ end }}{{ end }}
    Hostname {{ range (onepassword .op_id).fields }}{{ if eq .label "hostname" }}{{ .value }}{{ end }}{{ end }}
{{-         end }}
{{-         if .forward_agent }}
    ForwardAgent yes
{{-         end }}
    Port {{ range (onepassword .op_id).fields }}{{ if eq .label "port" }}{{ .value }}{{ end }}{{ end }}
    IdentityFile {{ if .generate_public_key_only }}{{ $.directories.ssh_keys_dir | replaceAllRegex "\\${HOME}" "~" }}/{{ .name }}.pub{{ else }}{{ $.directories.ssh_keys_dir | replaceAllRegex "\\${HOME}" "~" }}/{{ .name }}{{ end }}
    IdentitiesOnly yes

{{-     end }}
{{- end }}
{{- end }}

# ##### End Chezmoi Managed #############


Host *
	ServerAliveInterval 30
	ServerAliveCountMax 120
	StrictHostKeyChecking no
	Protocol 2
	IdentitiesOnly yes

Match exec "test -z \"$SSH_CONNECTION\""
  {{- if eq .chezmoi.os "darwin" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  {{- else if eq .chezmoi.os "linux" }}
  IdentityAgent ~/.1password/agent.sock
  {{- end }}

Match exec "test -n \"$SSH_CONNECTION\""
  IdentityAgent $SSH_AUTH_SOCK
