# == CONFIGURATION ENV VARIABLE ===
export ANTIDOTE_HOME=~/.cache/antidote
export BAT_THEME="OneHalfDark"
export DOTFILES="$HOME/.local/share/chezmoi"
export EDITOR="nvim"
export GIT_CONFIG_GLOBAL="$HOME/.config/git/config"
export LM_STUDIO_BIN="$HOME/.lmstudio/bin"
export PROTO_HOME="$HOME/.config/proto"
export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml" # Change default location for starship configuration
export _ZO_DATA_DIR="$XDG_DATA_HOME" # default for 'db.zo' file stored (database for zoxide)

# === START OF CHEZMOI MANAGED ===
{{- if .use_secrets }}
# == SECRETS ENV VARIABLE ==
export GITHUB_TOKEN={{ onepasswordRead .secrets.github_personal_access_token }}
export OPENROUTER_OPENCODE_APIKEY={{ onepasswordRead .secrets.opencode_apikey }}
export SSH_AUTH_SOCK={{ index (dict
    "darwin" "~/Library/Group\\ Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    "linux"  "~/.1password/agent.sock"
) .chezmoi.os }}
{{- end }}

{{- if eq .chezmoi.os "darwin"}}
export DISABLE_AUTO_TITLE='true' # Prevent auto update in title window macos
{{- end }}
# === END OF CHEZMOI MANAGED ===
