alias c="code"
alias cl="clear"
alias mux="tmuxinator"
alias fier="tmuxifier"
alias nv="nvim"
alias lzg="lazygit"
alias lzd="lazydocker"

# pueue
alias pue="pueue"

# bun
alias bfzf="bun run \"\$(jq -r '.scripts | keys[]' package.json | fzf --no-border)\""

# pet
alias pexec="pet exec -t"
alias psc="pet search"

# chezmoi
# alias chz="chezmoi"

# Directories
alias dotfiles="cd $DOTFILES"
alias config="cd $HOME/.config/"

####################### LIST DIRECTORY CONTENTS #######################
{{- if lookPath "eza" }}
# List filenames on one line
alias cyh='eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions'


# List filenames with long format
alias l='eza -l --classify=auto --icon=autos {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'

# List all files
alias ll='eza -lah --classify=auto --icons=auto {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'

# List files by last modified
alias llm='ll --sort=modified'

# List files with attributes
alias la='eza -lbhHigUmuSa --icons=auto {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'

# List files with extended attributes
alias lx='eza -lbhHigUmuSa@ --icons=auto {{- if not (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64")) }} --git{{ end }}'

# List files in a tree view
alias lt='eza --tree --level=2 --icons=auto'

# List files in a tree view with long format
alias llt='eza -lah --classify=always --tree --level=2 --icons=auto'

alias ls='eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions'
{{- end }}

