# XDG
# Configures XDG specification environment variables.
# https://specifications.freedesktop.org/basedir-spec/latest/

# A single base directory relative to which user-specific data files should be written
set -Ux XDG_DATA_HOME "{{ .xdgDataDir }}"

# A single base directory relative to which user-specific configuration files should be written
set -Ux XDG_CONFIG_HOME "{{ .xdgConfigDir }}"

# A single base directory relative to which user-specific state data should be written
set -Ux XDG_STATE_HOME "{{ .xdgStateDir }}"

# A single base directory relative to which user-specific non-essential (cached) data should be written
set -Ux XDG_CACHE_HOME "{{ .xdgCacheDir }}"

# Reconfigure applications to use these XDG-based directories
# ============================================================
# Important: These environment variables must be exported **before** initializing
# any CLI tools, so the tools can read the customized locations.
#
# Example:
# - `eval "$(starship init zsh)"` in `zother-tools.zsh` will read `STARSHIP_CONFIG`
# - If a CLI is initialized from a subdirectory (e.g., "third-party"), this order
#   ensures the correct configuration is applied before the process starts.
#   This is because `.zshrc` loads files in sequence, and numbering the file names
#   guarantees the correct load order.

# === CONFIGURATION ===
set -Ux GIT_CONFIG_GLOBAL "$XDG_CONFIG_HOME/git/config"
set -Ux PROTO_HOME "$XDG_CONFIG_HOME/proto"
set -Ux STARSHIP_CONFIG "$XDG_CONFIG_HOME/starship/starship.toml" # Change default location for starship configuration

# === DATA ===
set -Ux _ZO_DATA_DIR "$XDG_DATA_HOME/zoxide" # default for 'db.zo' file stored (database for zoxide)
set -Ux NGETEST_AYUNG "AYUNGHEHHE" # default for 'db.zo' file stored (database for zoxide)
