{{ if lookPath "bun" -}}
alias b="bun"
alias ba="bun add"
alias bad="bun add --dev"
alias bb="bun run build"
alias bbd="bun build"
alias bc="bun create"
alias bcubc="brew upgrade --cask && brew cleanup"
alias bcubo="brew update && brew outdated --cask"
alias bd="bun run dev"
alias bdocs="bun run docs"
alias bfmt="bun run format"
alias bfu="brew upgrade --formula"
alias bga="bun add --global"
alias bgls="bun pm ls --global"
alias bgrm="bun remove --global"
alias bgu="bun update --global"
alias bi="bun init"
alias bin="bun install"
alias biny="bun install --yarn"
alias bln="bun run lint"
alias bls="bun pm ls"
alias br="bun run"
alias brewp="brew pin"
alias brewsp="brew list --pinned"
alias brm="bun remove"
alias brun="bun run"
alias bs="bun run serve"
alias bst="bun run start"
alias bt="bun run test"
alias btc="bun run test --coverage"
alias bu="bun update"
alias bubc="brew upgrade && brew cleanup"
alias bubo="brew update && brew outdated"
alias bubu="bubo && bubc"
alias bubug="bubo && bugbc"
alias bugbc="brew upgrade --greedy && brew cleanup"
alias buz="brew uninstall --zap"
alias bx="bun x"
{{- end }}
