{{- $unified_theme := env "UNIFIED_THEME_CLI" -}}
{{- if eq $unified_theme "" }}{{ $unified_theme = .shell_env.common.UNIFIED_THEME_CLI }}{{ end -}}

[flavor]
dark = "{{ if eq $unified_theme "vesper" }}vesper{{ else }}lain{{ end }}"
